/* main obj-group */

.obj-group{
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow-x: hidden;
}
.obj-group .circle:first-child{
    position: absolute;
    top: 350px;
    left: -193px;
    width: 1007px;
    height: 1007px;
    width: 52.447916666667vw;
    height: 52.447916666667vw;
    background-color: #F9FAFB;
    border-radius: 100%;
    animation: circleAnim 7s linear forwards infinite;
}
.obj-group .circle:first-child::before{
    content: "";
    display: block;
    width: 767px;
    height: 767px;
    width: 39.947916666667vw;
    height: 39.947916666667vw;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.obj-group .circle:nth-child(2){
    position: absolute;
    top: 1758px;
    right: -140px;
    width: 545px;
    height: 545px;
    width: 28.385416666667vw;
    height: 28.385416666667vw;
    background-color: #F9FAFB;
    border-radius: 100%;
    animation: circleAnim 3s linear forwards infinite;
}
.obj-group .circle:nth-child(2)::before{
    content: "";
    display: block;
    width: 345px;
    height: 345px;
    width: 17.96875vw;
    height: 17.96875vw;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* main obj-group */



/* banner slide */

main{
    padding-top: 90px;
}
.banner-slide{
    position: relative;
}
.banner-slide .banner-swiper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
}
.banner-slide .banner-swiper img{
    width: 100%;
}
.banner-slide .banner-pagination{
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1000;
    transform: translateX(-50%);
    border-radius: 25px;
    width: max-content !important;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 15px;
    font-size: 12px;
    font-family: 600;
    letter-spacing: 2px;
    color: #B0B0B0;
}
.banner-slide .banner-pagination .swiper-pagination-current{
    color: #fff;
    letter-spacing: 2px;
}
.banner-slide .banner-pagination .swiper-pagination-total{
    letter-spacing: 0;
}
/* banner slide */



/* program slide */

.program-slide2{
    margin-top: 78px;
}
.program-slide2 .program-swiper2{
    border-radius: 25px;
}
.program-slide2 .swiper-slide img{
    width: 100%;
}
.program-slide2 span{
    font-size: 11px;
    color: #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    width: 100%;
    max-width: 960px;
    margin: 8px auto 0;
}
.program-slide2 span i{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("../images/icons/ico-info.svg") no-repeat center / cover;
}
.program2-pagination{
    display: flex;
    gap: 6px;
    position: absolute;
    bottom: 14px !important;
    right: 25px !important;
    left: auto !important;
    width: max-content !important;
}
.program2-pagination span{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #c4c4c4;
    opacity: 1 !important;
    transition: 0.3s ease;
}
.program2-pagination span.swiper-pagination-bullet-active{
    background-color: #5F53EF;
    width: 20px;
    border-radius: 25px;
}

/* program slide */





/* recommendation list */

.recommendation-list{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row-gap: 30px;
    justify-content: space-between;
}
.recommendation-list .img-card .img-wrap{
    border-radius: 25px;
    overflow: hidden;
    height: 315px;
}
.recommendation-list .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* recommendation list*/


/* partners */

.partners{
    background-color: #F9FAFB;
    padding-bottom: 70px;
    margin-top: 70px;
    width: 100vw;
    overflow-x: hidden;
}
.partners-slide{
    margin-bottom: 33px;
}
.partners-slide ul{
    display: flex;
    gap: 33px;
    overflow: visible;
    animation: moveAnim 60s linear infinite;
    /* transform: translateX(-100%); */
}
.partners-slide:last-child{
    margin-bottom: 0;
}
.partners-slide:last-child ul{
    animation: moveAnim 60s reverse linear infinite;
    /* transform: translateX(100%); */
}
.partners-slide ul li{
    min-width: 132px;
    min-height: 132px;
}
.partners-slide ul li img{
    width: 100%;
    height: auto;
}

/* partners */



/* category */

.category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
.category-list li{
    width: 180px;
    height: 90px;
    position: relative;
    margin-bottom: 15px;
}
.category-list li .img-wrap{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.category-list li .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    position: relative;
    z-index: -1;
}
.category-list li .img-wrap::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
}
.category-list li span{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.category-list li:hover .img-wrap img{
    transform: scale(1.075);
    filter: blur(2px);
}

/* category */


/* subscription */

.subscription{
    background-color: #F9FAFB;
    position: relative;
    padding-bottom: 324px;
}
.subscription a{
    position: relative;
    z-index: 10;
}
.subscription .sec-title p{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 4px;
}
.subscription .sec-title h2{
    margin-top: 0;
    margin-bottom: 30px;
}
.subscription .sec-title span{
    font-size: 14px;
}
.subscription .back-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 214px;
    z-index: 0;
}
.subscription .back-text h3{
    font-size: 110px;
    color: #eaeaea;
    font-family: 'Metropolis';
    font-weight: 600;
}
.subscription img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* subscription */